.background-video{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: .15;
    z-index: -1;
    &__file{
        object-fit: cover;
    }
}