*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;

    @include respond(tab-land){
        font-size: 56.25%;  //9px -> 9/16=0.5625
    }
    @include respond(tab-port){
        font-size: 50%;     //8px -> =0.5
    }
    @include respond(big-desktop){
        font-size: 75%;    //12px -> 0.75
    }
}
body{
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: $color-grey-1;
    padding: 3rem;
}